/**********master page***********
********************************/
#header{
    background-color:#607D8B;
}

.navbar-default {
    background-color: #0f006f;
    border-color: #030033;
}




/********end master page*********
********************************/


/*****quiz selection page********
********************************/




/*****end quiz selection page****
********************************/
