/**********master page***********
********************************/
#header{
    background-color:#607D8B;
}

.navbar-default {
    background-color: #0f006f;
    border-color: #030033;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #707070;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-brand {
    color: #f8f8f8;
}

.formHolder{
    padding:0px;
}

.spacer{
    margin-top:10px;
}

navbar-default-toggle-icon-bar-bg {
  color:#fff;
}

h3{
    margin-top:10px;
    font-size:18px;
}

h2{
    font-size:24px;
}

#dropButton{
    cursor:pointer;
}

.label-default {
  background-color:#607D8B;
}
    


/********end master page*********
********************************/


/*****quiz selection page********
********************************/




/*****end quiz selection page****
********************************/



/**********wobble effect*********
https://github.com/IanLunn/Hover
********************************/
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}